body{
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 1.5rem;
    font-variant: small-caps;
    background-color: #E7F0DC;
    max-height: 100vh;
    width: auto;
}
.heading{
    display: block;
    justify-content: center;
    height: 10%;
    margin: 0 25%;
    background-color: #597445;
    color: #E7F0DC;
}
.form-control{
    border:2px solid black;
    border-radius: 1rem;
}
.form-control:hover{
    cursor: not-allowed;
    
}
.btn{
    margin: 0;
    padding: 0;
    background-color: #729762;
    color: whitesmoke;
}
@media(max-width:600px){
    .container{
        display: block;
        margin-top: 10%;
    }
    h1{
        font-size: 3rem;
        margin-bottom: 10%;
        min-width: fit-content;
    }
    #textarea,#start{
        margin-bottom: 10%;
    }
    
}
